extends base.pug

block content 
    div
        p=video.description
        small=video.createdAt
        p=video.description
        p=video.hashtags
        p=video.tickers
    a(href=`${video.id}/edit`) Edit Video &rarr;
    